<h1>Home#index</h1>
<p>Find me in app/views/home/top.html.erb</p>



    <nav>
      <% if user_signed_in? %>
        <%= link_to 'logout', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'sign up', new_user_registration_path  %>
        <%= link_to 'login', new_user_session_path  %>
      <% end %>
    </nav>
